<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [routerLink]="['inicio']" routerLinkActive="active" class="nav-link" aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['vehiculos']" routerLinkActive="active" class="nav-link" href="#">Vehículos</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['fabricantes']" routerLinkActive="active" class="nav-link" href="#">Fabricantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Créditos</a>
  </li>
</ul>
